<head>
		<title>ChartJS - Pie Chart</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/login.css" rel="stylesheet">
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>  
</head>
<body>  
  <h1 align="center">UATU - the Watcher<small></small></h1>
  <div class="container content login">
    <input id="login" type="email" placeholder="Email address" required="" autofocus="" class="form-control">
    <input id="password" type="password" placeholder="Password" required="" class="form-control">
    <button id="loginBtn" type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
  </div>
  
  <div class="container content logged">
    <h1 id="asWho" align="center"><span class="label label-default"></span></h1>
    <button id="relog" type="submit" class="btn btn-lg btn-primary btn-block">Relog</button>
  </div>
  
  <script src="../js/login.js"></script>
  <script src="../js/db.js"></script>
</body>