.black_overlay{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.70;
	filter: alpha(opacity=80);
}

.popup {
	display: none;
	position: fixed;
	top: 12%;
	left: 25%;
	width: 50%;
	height: auto;
	max-height: 75%;
	padding: 16px;
	border: 5px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}