body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  font-weight: bold;
  /*color: #00B7FF;*/
}

footer {
  position: absolute;
  bottom: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

div.content {
  width: 85%;
  margin: 0 auto;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

div.chart {
  /*min-width: 200px;
  height: 200px;
  margin: 0 auto;*/
  margin: 3px;
}