include mixins
extends layout 
block extraHeader
	link(href="/stylesheets/image.css", rel="stylesheet")
block content  
	+pageHeader('About', '')
	+panel('General', 'info')
		div
			h2|UATU - the Watcher is a non profit project.
			h3|Developed as a final thesis of engineering studies (Computer Science) at Silesian University of Technology.