include mixins
extends layout

block extraHeader
	link(href="/stylesheets/popup.css", rel="stylesheet")			
block content
	div(id="light")		
		+pageHeader('Account for: ', user.name)
		+panel('Categories', 'danger')
			+table('categoryTable', ['Name', 'Visibility', 'Range'], pageData.categories, ['glyphicon-signal','glyphicon-remove', 'glyphicon-pencil'], 'category')
			div(style="clear:both")
					button(class="categoryAdd btn btn-md btn-warning btn-block" type="submit" style="float:left;width:25%") Add Category
		+panel('Spectrums', 'warning')
			+table('spectrumTable', ['Name', 'Visibility', 'Range', 'Group by'], pageData.spectrums, ['glyphicon-signal','glyphicon-remove', 'glyphicon-pencil'])
			div(style="clear:both")
					button(class="spectrumAdd btn btn-md btn-warning btn-block" type="submit" style="float:left;width:25%") Add Spectrum
		//+panel('Hardwares')
			//+table('hardwareTable', ['Name', 'Visibility', 'Range'], pageData.hardwares, ['glyphicon-signal','glyphicon-remove', 'glyphicon-pencil'])
		+panel('Naming','primary')
			+panel('Application')
				+table('appNamingTable', ['Name', 'Path'], pageData.naming, ['glyphicon-remove'])
				div(style="clear:both")
					button(class="appNamingAdd btn btn-md btn-warning btn-block" type="submit" style="float:left;width:25%") Add Naming

	script(src='/javascripts/account.js')
	script(src='/javascripts/configCategories.js')
	script(src='/javascripts/configSpectrums.js')
	script(src='/javascripts/configAppNaming.js')
block shadow	
	div.black_overlay.hidden(id="fade")

block popup
	div.popup(id="categoriesPopup")
		+panel('Category', 'info')
			+tablePopup(['Property', 'Value'], [{'id':'categoryName','type':'text','name':'Name'},{'id':'categoryRange','type': 'textbox', 'name': 'Range'},{'id':'categoryVisibility','type': 'checkbox', 'name': 'Visible'}])
			+panel('Category items', 'info')
				div(id="categoryItems")
			+panel('New item', 'info')
				+tablePopup(['Property', 'Value'], [{'id':'categoryItemType','type': 'combo', 'name': 'Type', 'options' : ['Web', 'App']},{'id':'categoryItemValue', 'type':'text','name':'Name'}])
				div(style="clear:both")
					button(class="categoryItemAdd btn btn-md btn-warning btn-block" type="submit" style="float:right;width:50%") Add
				hr
			+popupButtons({'Id':'categoryCancel', 'Name' : 'Cancel'},{'Id': 'categoryAccept', 'Name' : 'Accept'})
	div.popup(id="spectrumsPopup")
		+panel('Spectrum', 'info')
			+tablePopup(['Property', 'Value'], [{'id':'spectrumName','type':'text','name':'Name'},{'id':'spectrumRange','type': 'textbox', 'name': 'Range'},{'id':'spectrumGroupBy','type': 'combo', 'name': 'Group by', 'options' : ['Daily', 'Weekly', 'Monthly']},{'id':'spectrumVisibility','type': 'checkbox', 'name': 'Visible'}])
			+panel('Spectrum items', 'info')
				div(id="spectrumItems")
			+panel('New item', 'info')
				+tablePopup(['Property', 'Value'], [{'id':'spectrumItemType','type': 'combo', 'name': 'Type', 'options' : ['Web', 'App']},{'id':'spectrumItemValue', 'type':'text','name':'Name'}])
				div(style="clear:both")
					button(class="spectrumItemAdd btn btn-md btn-warning btn-block" type="submit" style="float:right;width:50%") Add
				hr
			+popupButtons({'Id':'spectrumCancel', 'Name' : 'Cancel'},{'Id': 'spectrumAccept', 'Name' : 'Accept'})
	
	div.popup(id="hardwaresPopup")
		+panel('Edit Hardware')

	div.popup(id="appNamingPopup")
		+panel('Add Naming', 'info')
			+tablePopup(['Property', 'Value'], [{'id':'appNamingName','type':'text','name':'Name'},{'id':'appNamingPath','type':'text','name':'Executable Path'}])
			+popupButtons({'Id':'appNamingCancel', 'Name' : 'Cancel'},{'Id': 'appNamingAccept', 'Name' : 'Accept'})
	
	div.hidden(id="categoryId")
	div.hidden(id="spectrumId")
