include mixins
extends layout 

block content  
	+pageHeader('Contact', '')
	+panel('Developer and Administrator', 'info')
		div
			h3 Please feel free to contact 
				b Mr Mateusz Gąsior 
				| at 
				a(href="mailto:mr.nimelo@gmail.com?Subject=Hello", target="_top") 
					b mr.nimelo@gmail.com.
