include mixins
extends layout 

block content  
    +pageHeader('Daily', '')
    div.content(style="width: 50%")
        +dateTimePicker("day", "col-sm-6")
        div.col-sm-6
            button(id="search" class="btn btn-md btn-warning btn-block col-sm-6" type="submit") Search
    div.container
        div.chart#web
        div.char#app
    +dateTimePickerDependencies()
    +charts()
    script(src='/javascripts/daily.js')