include mixins
extends layout 

block content  
	+pageHeader('hardwares', '')
	div(id="container" style="min-width: 400px; height: 400px; margin: 0 auto")
	+charts()
	script(src='/javascripts/hardware.js')