include mixins
extends layout 

block content  
	+pageHeader('Histories', '')
	div.container
		+tablePopup(['From', 'To', 'Precision', 'Action'],[])
		+dateTimePicker("from", "col-sm-3")
		+dateTimePicker("to", "col-sm-3")
		+dateTimePicker("precision", "col-sm-3")
		div.col-sm-3
			button(id="search" class="btn btn-md btn-warning btn-block col-sm-3" type="submit") Search
	div.container#history		
		+tablePopup(['Application', 'From', 'To', 'Timespan'],[])
	+dateTimePickerDependencies()
	+charts()
	script(src='/javascripts/histories.js')