include mixins
extends layout

block content
  +pageHeader('Welcome ', 'to UATU - the Watcher')
  +panel('Need help?', 'primary')
    h3 Contact the administrator to join our program!

  //script(src="/javascripts/index.js")