include mixins
doctype html
html( lang="en" )
    head
        title Uatu - The Watcher
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Uatu - The Watcher' )
        //- Bootswatch Theme
        link(href="/stylesheets/style.css", rel="stylesheet")
        //link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css", rel="stylesheet")
        link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        block extraHeader
  body
    block header
        +nav('UATU', 'menu')
            +nav_item('/', '') Home    
       
            if (typeof(user) !== 'undefined')     
                +nav_item('/user/categories', '') Categories
                +nav_item('/user/spectrums', '') Spectrums
                +nav_item('/user/histories', '') Histories
                +nav_item('/user/daily', '') Daily
            +nav_item('/about', '') About
            +nav_item('/contact', '') Contact   
            if(typeof(user) === 'undefined')   
                +nav_item('/login', '') Log in      
            if (typeof(user) !== 'undefined')   
                +nav_item_dropdown('','', user.name)
                    +nav_item('/user/account', '') Account
                    +nav_item('/user/logout', '') Log out
    div.content
        block content
    
    block shadow

    block popup
    //+bootswatch("superhero")
    //+bootswatch("flatty")  
    div.container 
        block footer
            
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js') 