include mixins
extends layout

block content
  div(class="container content")
    +pageHeader('Login', '', "top")  
    input(id="login" type="email" class="form-control" placeholder="Email address" required autofocus)
    input(id="password" type="password" class="form-control" placeholder="Password" required)
    button(id="loginBtn" class="btn btn-lg btn-primary btn-block" type="submit") Sign in

    script(src=src="/javascripts/login.js")