//- Navbar mixins
mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    nav( role="navigation", class=["navbar", "navbar-" + style] )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")= name
 
        .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
                block
 
mixin nav_item(href, active)
    li(class=active): a( href=href )
        block
 
mixin nav_item_dropdown(href, active, name)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= name
            span.caret
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider
 
mixin nav_header
    li.dropdown-header
        block
 
//- End navbar mixins

//- Panel mixin
mixin panel(heading, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    div( class=["panel", "panel-" + style] )
        .panel-heading
            b= heading
        .panel-body
            block
			
//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    a( class=["btn", "btn-" + style, size], href=href )
        block

//- Alert mixin
mixin alert(style)
    div( class=["alert", "alert-dismissable", "alert-" + style] )
        button.close( type="button", data-dismiss="alert" ) ×
        block
		
//- List group mixins
- var groupType
 
mixin listGroup(type)
    - groupType = type
    case groupType
        when 'list'
            ul.list-group
                block
        default
            .list-group
                block
 
mixin listItem(arg1, arg2)
    case groupType
        when 'list'
            li( class=["list-group-item", arg1] )
                block
        when 'links'
            a( href=arg1, class=["list-group-item", arg2] )
                block
        default
            .list-group-item( class=["list-group-item", arg1] )
                block
 
mixin listHeading
    h4.list-group-item-heading
        block
 
mixin listText
    .list-group-item-text
        block
		
mixin bootswatch(theme)
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/" + theme + "/bootstrap.min.css", rel="stylesheet")

mixin charts()
    script(src="/javascripts/chartsRendering.js")
    script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
    script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
//page-header
mixin pageHeader(header, subtext, alignment)
    div.page-header
    h1= header
        small= subtext

mixin table(id, headers, items, buttons)
    div
        table(id= id, class="table table-hover", border="0")
            thead
                tr
                    each val in headers
                        th
                            b= val
                    th
                        b='Actions'
                            
            tbody
                each val in items
                    tr(id=val['Id'])
                        each x in headers
                            td= val[x]   
                        td 
                            each btn in buttons                           
                                button.btn.glyphicon(class= btn )

mixin tablePopup(headers, fields)
    div
        table(class="table table-hover", border="0")
            thead
                tr
                    each val in headers
                        th
                            b= val 
            tbody              
                each val in fields
                    tr
                        td
                            label(class="form-control")
                                b= val['name']
                        td
                            if(val['type'] != 'combo')
                                input(id=val['id'] type=val['type'], class="form-control")
                            else if(val['type'] == 'combo')
                                select.form-control(id=val['id'])
                                    for item in val.options
                                        option= item

mixin tablePopuplabels(headers, fields)
    div
        table(class="table table-hover", border="0")
            thead
                tr
                    each val in headers
                        th
                            b= val 
            tbody              
                each val in fields
                    tr
                        td
                            label(class="form-control")
                                b= val['name']                      

              
mixin popupButtons(lhs, rhs)
    div(style="clear:both")
        button(id=lhs['Id'] class="btn btn-lg btn-danger btn-block" type="submit" style="float:left;width:50%")= lhs['Name']
        button(id=rhs['Id'] class="btn btn-lg btn-success btn-block" type="submit" style="width:50%")= rhs['Name']

mixin dateTimePicker(id, style)
    div(class=style)
        div(class="form-group")
            div(class='input-group date' id=id)
                input(type='text' class="form-control")
                span(class="input-group-addon")
                    span(class="glyphicon glyphicon-calendar")    
                      
mixin dateTimePickerDependencies()
    script(src="/javascripts/moment-with-locales.js")
    script(src='/javascripts/bootstrap-datetimepicker.js')
    script(src='/javascripts/configAppNaming.js')
    link(href="/stylesheets/bootstrap-datetimepicker.css", rel="stylesheet")